.wwin-custom-separator-1 {
    height: 18px;
    background-color: #df2498;
  }
  .wwin-custom-separator-2 {
    height: 18px;
    background-color: #ffbeef;
  }
  .wwin-custom-separator-3 {
    height: 18px;
    background-color: #ffd54f;
  }
  .wwin-custom-separator-4 {
    height: 18px;
    background-color: #dfdfdf;
  }

  .john-betty-custom-separator-1 {
    height: 18px;
    background-color: #df2498;
  }
  .john-betty-custom-separator-2 {
    height: 18px;
    background-color: #ffbeef;
  }
  .john-betty-custom-separator-3 {
    height: 18px;
    background-color: #ffd54f;
  }
  .john-betty-custom-separator-4 {
    height: 18px;
    background-color: #dfdfdf;
  }

  .dashboard-custom-separator-1 {
    height: 18px;
    background-color: #ffbeef;
  }
  .dashboard-custom-separator-2 {
    height: 18px;
    background-color: #ff63aa;
  }
  .dashboard-custom-separator-3 {
    height: 18px;
    background-color: #de2398;
  }
  .dashboard-custom-separator-4 {
    height: 18px;
    background-color: #c60078;
  }