// ██╗   ██╗████████╗██╗██╗     ██╗████████╗██╗███████╗███████╗//
// ██║   ██║╚══██╔══╝██║██║     ██║╚══██╔══╝██║██╔════╝██╔════╝//
// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║█████╗  ███████╗//
// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║██╔══╝  ╚════██║//
// ╚██████╔╝   ██║   ██║███████╗██║   ██║   ██║███████╗███████║//
//  ╚═════╝    ╚═╝   ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝//
/////////////////////////////////////////////////////////////////


// ███████╗██████╗  █████╗  ██████╗██╗███╗   ██╗ ██████╗ 
// ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗  ██║██╔════╝ 
// ███████╗██████╔╝███████║██║     ██║██╔██╗ ██║██║  ███╗
// ╚════██║██╔═══╝ ██╔══██║██║     ██║██║╚██╗██║██║   ██║
// ███████║██║     ██║  ██║╚██████╗██║██║ ╚████║╚██████╔╝
// ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ 
.reset {
    margin: 0;
    padding: 0;
}

.p0 {
    padding: 0;
}

.p2r {
    padding: 2rem;
}

.p14r {
    padding: 1.4rem;
}

.pl1r {
    padding-left: 1rem;
}

.pl05r {
    padding-left: 0.5rem;
}

.pt05r {
    padding-top: 0.5rem;
}

.mt2r {
    margin-top: 2rem;
}

.m0 {
    margin: 0;
}

// ███████╗██╗███████╗██╗███╗   ██╗ ██████╗ 
// ██╔════╝██║╚══███╔╝██║████╗  ██║██╔════╝ 
// ███████╗██║  ███╔╝ ██║██╔██╗ ██║██║  ███╗
// ╚════██║██║ ███╔╝  ██║██║╚██╗██║██║   ██║
// ███████║██║███████╗██║██║ ╚████║╚██████╔╝
// ╚══════╝╚═╝╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ 

.fill-view {
    height: 100%;
    width: 100%;
}

.h2r {
    height: 2rem;
}

//  █████╗ ██╗     ██╗ ██████╗ ███╗   ██╗███╗   ███╗███████╗███╗   ██╗████████╗
// ██╔══██╗██║     ██║██╔════╝ ████╗  ██║████╗ ████║██╔════╝████╗  ██║╚══██╔══╝
// ███████║██║     ██║██║  ███╗██╔██╗ ██║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   
// ██╔══██║██║     ██║██║   ██║██║╚██╗██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   
// ██║  ██║███████╗██║╚██████╔╝██║ ╚████║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   
// ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   

.tac {
    width: 100%;
    text-align: center;
}

.tal {
    width: 100%;
    text-align: left;
}

.tar {
    width: 100%;
    text-align: right;
}

.taj {
    width: 100%;
    text-align: justify;
    padding-top: 3px;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;;
}

.fsi {
    font-style: italic;
}
//text-shadow

.ts {
    text-shadow: 1px 1px 2px #a5a5a5;
}

.lh08 {
    line-height: 0.8rem;
}

.lh {
    line-height: 2rem;
}

.lh3 {
    line-height: 3rem;
}


//
.h100 {
    height: 100%;
}

.w100 {
    width: 100%
}

.w50 {
    width: 50%;
}

.cp {
    cursor: pointer;
}

.ca {
    cursor: auto;
}

.oy-h {
    overflow-y: hidden; 
}

.oy-a {
    overflow-y: auto;
}

.col-5ths {
    width: 20%;
    padding: 0 0.8rem;
}

.col {
    display: flex;
    flex-direction: column;
}

@media (max-width: 519px) {
    .col-5ths {
        width: 40%;
        margin: auto;
    }
}

@media (min-width: 1121px) and (max-width: 1222px){
    .col-5ths {
        width: 34%;
        margin: auto;
    }
}

.p10 {
    padding: 10px
}

.z1000 {
    z-index: 1000;
}

.z8000 {
    z-index: 8000;
}

.text-transform-none {
    text-transform: none;
}
