.grantspage {
    height: 260px;
    width: 100%;
    padding-top: 30px;
    padding-left: 280px;
    padding-bottom: 45px;
    display: grid;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#0c2646),
      color-stop(60%, #204065),
      to(#2a5788)
    );
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    // position: absolute;
    overflow: hidden;
  
  }
  
  .confirm {
    height: 60px;
    width: 98%;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 45px;
    background-color:white;
    box-shadow: 0px 1px 2px 1px;
    overflow: hidden;
    // position: relative;
    // position: absolute;
    top: 170px
  
  }
  
  .grants-lg {
    height: 60px;
  }
  .grants-inv-lg {
    height: 680px;
  }
  
  .grantsdisplay{
    padding-left: 110px;
    padding-top: 55px;
    // position: relative;
  }
  
  .confirm-header {
    color: white;
    font-size: 0.8rem;
    line-height: 1.4em;
    margin-bottom: 15px;
    padding-top: 1px;
    // padding-left: 21px;
  }